* {
  box-sizing: border-box;
  /* color: #DEDEDF; */
}

.is-pink {
  color: #9A6AFF!important;
}

.is-blue {
  color: #20AFBB!important;
}

/* .has-background-transparent {
  background-color: transparent!important;
} */

.is-full-width {
  width: 100%!important;
}


/* loading icon animation */
.spinner {
  animation: spin infinite 2.5s linear;

  /*You can increase or decrease the timer (5s) to 
   increase or decrease the speed of the spinner*/
}

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
