* {
  box-sizing: border-box;
}

.is-pink {
  color: #9A6AFF!important;
}

.is-blue {
  color: #20AFBB!important;
}

.has-gap {
  gap: 1em;
}

.is-smaller-mobile {
  width: 512px;
  height: 512px;
}


@media (max-width: 768px) {
  .is-smaller-mobile {
    width: 256px;
    height: 256px;
  }

  .is-grid-mobile {
    display: grid!important;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    /* display: flex; */
    place-items: center;
  
  }
}

/* loading icon animation */
.spinner {
  animation: spin infinite 2.5s linear;

  /*You can increase or decrease the timer (5s) to 
   increase or decrease the speed of the spinner*/
}

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
