/* import google font "Kanit" */
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* CSS reset */
* {
  /* font-family: 'Kanit', sans-serif; */
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
  if height value is not set on html and body,
  it will assume the same value given to children
  that is explicitly assigned a value (i.e. div#root)
*/
div#root {
  min-height: 100vh;
  /* min-height: -webkit-fill-available; */
  background: #000000;
}